#### Data Processing with Python

In [1]:
import pandas as pd

<hr>
###### IN CASE OF PROBLEMS IMPORTING PACKAGES

In [2]:
# SOLUTION A: select this cell and type Shift-Enter to execute the code below.

%conda install openpyxl pandas

# Now restart the kernel (Menu -> Kernel -> Restart Kernel)

Jupyter detected...
Retrieving notices: done
Channels:
 - defaults
Platform: win-64
Collecting package metadata (repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\ProgramData\miniconda3

  added / updated specs:
    - openpyxl
    - pandas


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    blas-1.0                   |              mkl           6 KB
    bottleneck-1.4.2           |  py312h4b0e54e_0         145 KB
    ca-certificates-2025.2.25  |       haa95532_0         130 KB
    certifi-2025.4.26          |  py312haa95532_0         158 KB
    conda-25.5.1               |  py312haa95532_0         1.2 MB
    et_xmlfile-1.1.0           |  py312haa95532_1          12 KB
    intel-openmp-2023.1.0      |   h59b6b97_46320         2.7 MB
    mkl-2023.1.0               |   h6b88ed4_46358       155.9 MB
    mkl-service-2.4.0          |  py312h827c3e9_2          64 KB
    mkl_fft-1.3.11             |  py312h827c3e9_0         169 KB
    mkl_random-1.2.8           |  py312h0158946_0         252 KB
    numexpr-2.10.1             |  py312h4cd664f_0         201 KB
    numpy-2.0.1                |  py312hfd52020_1          11 KB
    numpy-base-2.0.1           |  py312h4dde369_1         7.1 MB
    openpyxl-3.1.5             |  py312h827c3e9_1         649 KB
    openssl-3.0.16             |       h3f729d1_0         7.8 MB
    pandas-2.2.3               |  py312h5da7b33_0        14.2 MB
    python-dateutil-2.9.0post0 |  py312haa95532_2         319 KB
    python-tzdata-2025.2       |     pyhd3eb1b0_0         141 KB
    pytz-2024.1                |  py312haa95532_0         222 KB
    six-1.17.0                 |  py312haa95532_0          38 KB
    tbb-2021.8.0               |       h59b6b97_0         149 KB
    ------------------------------------------------------------
                                           Total:       191.5 MB

The following NEW packages will be INSTALLED:

  blas               pkgs/main/win-64::blas-1.0-mkl
  bottleneck         pkgs/main/win-64::bottleneck-1.4.2-py312h4b0e54e_0
  et_xmlfile         pkgs/main/win-64::et_xmlfile-1.1.0-py312haa95532_1
  intel-openmp       pkgs/main/win-64::intel-openmp-2023.1.0-h59b6b97_46320
  mkl                pkgs/main/win-64::mkl-2023.1.0-h6b88ed4_46358
  mkl-service        pkgs/main/win-64::mkl-service-2.4.0-py312h827c3e9_2
  mkl_fft            pkgs/main/win-64::mkl_fft-1.3.11-py312h827c3e9_0
  mkl_random         pkgs/main/win-64::mkl_random-1.2.8-py312h0158946_0
  numexpr            pkgs/main/win-64::numexpr-2.10.1-py312h4cd664f_0
  numpy              pkgs/main/win-64::numpy-2.0.1-py312hfd52020_1
  numpy-base         pkgs/main/win-64::numpy-base-2.0.1-py312h4dde369_1
  openpyxl           pkgs/main/win-64::openpyxl-3.1.5-py312h827c3e9_1
  pandas             pkgs/main/win-64::pandas-2.2.3-py312h5da7b33_0
  python-dateutil    pkgs/main/win-64::python-dateutil-2.9.0post0-py312haa95532_2
  python-tzdata      pkgs/main/noarch::python-tzdata-2025.2-pyhd3eb1b0_0
  pytz               pkgs/main/win-64::pytz-2024.1-py312haa95532_0
  six                pkgs/main/win-64::six-1.17.0-py312haa95532_0
  tbb                pkgs/main/win-64::tbb-2021.8.0-h59b6b97_0

The following packages will be UPDATED:

  ca-certificates                     2024.12.31-haa95532_0 --> 2025.2.25-haa95532_0
  certifi                         2025.1.31-py312haa95532_0 --> 2025.4.26-py312haa95532_0
  conda                              25.1.1-py312haa95532_0 --> 25.5.1-py312haa95532_0
  openssl                                 3.0.15-h827c3e9_0 --> 3.0.16-h3f729d1_0



Downloading and Extracting Packages: ...working...
mkl-2023.1.0         | 155.9 MB  |            |   0%

pandas-2.2.3         | 14.2 MB   |            |   0%


openssl-3.0.16       | 7.8 MB    |            |   0%



numpy-base-2.0.1     | 7.1 MB    |            |   0%




intel-openmp-2023.1. | 2.7 MB    |            |   0%





conda-25.5.1         | 1.2 MB    |            |   0%






openpyxl-3.1.5       | 649 KB    |            |   0%







python-dateutil-2.9. | 319 KB    |            |   0%








mkl_random-1.2.8     | 252 KB    |            |   0%









pytz-2024.1          | 222 KB    |            |   0%










numexpr-2.10.1       | 201 KB    |            |   0%











mkl_fft-1.3.11       | 169 KB    |            |   0%












certifi-2025.4.26    | 158 KB    |            |   0%













tbb-2021.8.0         | 149 KB    |            |   0%














bottleneck-1.4.2     | 145 KB    |            |   0%















python-tzdata-2025.2 | 141 KB    |            |   0%
















ca-certificates-2025 | 130 KB    |            |   0%

















mkl-service-2.4.0    | 64 KB     |            |   0%


















six-1.17.0           | 38 KB     |            |   0%



















 ... (more hidden) ...



numpy-base-2.0.1     | 7.1 MB    |            |   0%
mkl-2023.1.0         | 155.9 MB  |            |   0%




intel-openmp-2023.1. | 2.7 MB    |            |   1%

pandas-2.2.3         | 14.2 MB   |            |   0%




intel-openmp-2023.1. | 2.7 MB    | 1          |   2%


openssl-3.0.16       | 7.8 MB    |            |   0%




intel-openmp-2023.1. | 2.7 MB    | 2          |   2%
mkl-2023.1.0         | 155.9 MB  |            |   0%




intel-openmp-2023.1. | 2.7 MB    | 7          |   8%
mkl-2023.1.0         | 155.9 MB  |            |   0%




intel-openmp-2023.1. | 2.7 MB    | ##         |  21%
mkl-2023.1.0         | 155.9 MB  |            |   0%




intel-openmp-2023.1. | 2.7 MB    | ###2       |  32%
mkl-2023.1.0         | 155.9 MB  |            |   1%


openssl-3.0.16       | 7.8 MB    |            |   0%
mkl-2023.1.0         | 155.9 MB  |            |   1%




intel-openmp-2023.1. | 2.7 MB    | ####6      |  47%


openssl-3.0.16       | 7.8 MB    |            |   1%
mkl-2023.1.0         | 155.9 MB  |            |   1%




intel-openmp-2023.1. | 2.7 MB    | #####9     |  60%

pandas-2.2.3         | 14.2 MB   |            |   0%


openssl-3.0.16       | 7.8 MB    | 3          |   3%




intel-openmp-2023.1. | 2.7 MB    | #######2   |  72%

pandas-2.2.3         | 14.2 MB   |            |   1%
mkl-2023.1.0         | 155.9 MB  | 1          |   1%


openssl-3.0.16       | 7.8 MB    | 4          |   5%




intel-openmp-2023.1. | 2.7 MB    | ########2  |  83%


openssl-3.0.16       | 7.8 MB    | 6          |   6%

pandas-2.2.3         | 14.2 MB   |            |   1%
mkl-2023.1.0         | 155.9 MB  | 1          |   1%




intel-openmp-2023.1. | 2.7 MB    | #########3 |  93%



numpy-base-2.0.1     | 7.1 MB    |            |   1%

pandas-2.2.3         | 14.2 MB   | 1          |   1%


openssl-3.0.16       | 7.8 MB    | 7          |   8%
mkl-2023.1.0         | 155.9 MB  | 1          |   1%




intel-openmp-2023.1. | 2.7 MB    | ########## | 100%



numpy-base-2.0.1     | 7.1 MB    | 1          |   1%


openssl-3.0.16       | 7.8 MB    | #          |  11%
mkl-2023.1.0         | 155.9 MB  | 1          |   2%

pandas-2.2.3         | 14.2 MB   | 1          |   2%





conda-25.5.1         | 1.2 MB    | 1          |   1%




intel-openmp-2023.1. | 2.7 MB    | ########## | 100%


openssl-3.0.16       | 7.8 MB    | #3         |  14%
mkl-2023.1.0         | 155.9 MB  | 1          |   2%



numpy-base-2.0.1     | 7.1 MB    | 1          |   2%

pandas-2.2.3         | 14.2 MB   | 2          |   2%





conda-25.5.1         | 1.2 MB    | ##4        |  24%


openssl-3.0.16       | 7.8 MB    | #5         |  16%
mkl-2023.1.0         | 155.9 MB  | 1          |   2%



numpy-base-2.0.1     | 7.1 MB    | 1          |   2%





conda-25.5.1         | 1.2 MB    | ####4      |  44%

pandas-2.2.3         | 14.2 MB   | 2          |   3%


openssl-3.0.16       | 7.8 MB    | #7         |  18%
mkl-2023.1.0         | 155.9 MB  | 1          |   2%



numpy-base-2.0.1     | 7.1 MB    | 2          |   2%





conda-25.5.1         | 1.2 MB    | ######2    |  63%

pandas-2.2.3         | 14.2 MB   | 2          |   3%


openssl-3.0.16       | 7.8 MB    | ##         |  20%
mkl-2023.1.0         | 155.9 MB  | 2          |   2%





conda-25.5.1         | 1.2 MB    | ########6  |  87%



numpy-base-2.0.1     | 7.1 MB    | 3          |   3%

pandas-2.2.3         | 14.2 MB   | 3          |   3%


openssl-3.0.16       | 7.8 MB    | ##2        |  23%





conda-25.5.1         | 1.2 MB    | ########## | 100%
mkl-2023.1.0         | 155.9 MB  | 2          |   2%



numpy-base-2.0.1     | 7.1 MB    | 3          |   4%


openssl-3.0.16       | 7.8 MB    | ##6        |  26%






openpyxl-3.1.5       | 649 KB    | 2          |   2%

pandas-2.2.3         | 14.2 MB   | 3          |   4%
mkl-2023.1.0         | 155.9 MB  | 2          |   2%



numpy-base-2.0.1     | 7.1 MB    | 3          |   4%


openssl-3.0.16       | 7.8 MB    | ##8        |  29%

pandas-2.2.3         | 14.2 MB   | 4          |   5%
mkl-2023.1.0         | 155.9 MB  | 2          |   2%






openpyxl-3.1.5       | 649 KB    | ##4        |  25%



numpy-base-2.0.1     | 7.1 MB    | 4          |   5%


openssl-3.0.16       | 7.8 MB    | ###1       |  31%

pandas-2.2.3         | 14.2 MB   | 4          |   5%
mkl-2023.1.0         | 155.9 MB  | 2          |   3%






openpyxl-3.1.5       | 649 KB    | #######3   |  74%


openssl-3.0.16       | 7.8 MB    | ###3       |  34%



numpy-base-2.0.1     | 7.1 MB    | 5          |   5%






openpyxl-3.1.5       | 649 KB    | ########## | 100%

pandas-2.2.3         | 14.2 MB   | 5          |   6%
mkl-2023.1.0         | 155.9 MB  | 2          |   3%


openssl-3.0.16       | 7.8 MB    | ###6       |  37%







python-dateutil-2.9. | 319 KB    | 5          |   5%



numpy-base-2.0.1     | 7.1 MB    | 5          |   6%

pandas-2.2.3         | 14.2 MB   | 6          |   6%
mkl-2023.1.0         | 155.9 MB  | 2          |   3%





conda-25.5.1         | 1.2 MB    | ########## | 100%







python-dateutil-2.9. | 319 KB    | ####5      |  45%



numpy-base-2.0.1     | 7.1 MB    | 6          |   6%


openssl-3.0.16       | 7.8 MB    | ###8       |  39%







python-dateutil-2.9. | 319 KB    | #########5 |  95%







python-dateutil-2.9. | 319 KB    | ########## | 100%



numpy-base-2.0.1     | 7.1 MB    | 6          |   7%


openssl-3.0.16       | 7.8 MB    | ####       |  41%
mkl-2023.1.0         | 155.9 MB  | 2          |   3%

pandas-2.2.3         | 14.2 MB   | 6          |   7%







python-dateutil-2.9. | 319 KB    | ########## | 100%


openssl-3.0.16       | 7.8 MB    | ####2      |  43%






openpyxl-3.1.5       | 649 KB    | ########## | 100%

pandas-2.2.3         | 14.2 MB   | 7          |   7%








mkl_random-1.2.8     | 252 KB    | 6          |   6%
mkl-2023.1.0         | 155.9 MB  | 3          |   3%



numpy-base-2.0.1     | 7.1 MB    | 7          |   7%


openssl-3.0.16       | 7.8 MB    | ####5      |  45%

pandas-2.2.3         | 14.2 MB   | 7          |   8%
mkl-2023.1.0         | 155.9 MB  | 3          |   3%








mkl_random-1.2.8     | 252 KB    | #########5 |  95%








mkl_random-1.2.8     | 252 KB    | ########## | 100%



numpy-base-2.0.1     | 7.1 MB    | 8          |   8%

pandas-2.2.3         | 14.2 MB   | 8          |   9%


openssl-3.0.16       | 7.8 MB    | ####9      |  49%
mkl-2023.1.0         | 155.9 MB  | 3          |   3%









pytz-2024.1          | 222 KB    | 7          |   7%



numpy-base-2.0.1     | 7.1 MB    | 9          |   9%








mkl_random-1.2.8     | 252 KB    | ########## | 100%









pytz-2024.1          | 222 KB    | #4         |  14%


openssl-3.0.16       | 7.8 MB    | #####1     |  52%

pandas-2.2.3         | 14.2 MB   | 9          |  10%









pytz-2024.1          | 222 KB    | ###6       |  36%


openssl-3.0.16       | 7.8 MB    | #####3     |  54%
mkl-2023.1.0         | 155.9 MB  | 3          |   3%



numpy-base-2.0.1     | 7.1 MB    | 9          |  10%

pandas-2.2.3         | 14.2 MB   | #          |  11%









pytz-2024.1          | 222 KB    | ########## | 100%



numpy-base-2.0.1     | 7.1 MB    | #          |  10%
mkl-2023.1.0         | 155.9 MB  | 3          |   4%

pandas-2.2.3         | 14.2 MB   | #1         |  11%
mkl-2023.1.0         | 155.9 MB  | 3          |   4%


openssl-3.0.16       | 7.8 MB    | #####5     |  56%










numexpr-2.10.1       | 201 KB    | 7          |   8%

pandas-2.2.3         | 14.2 MB   | #2         |  12%



numpy-base-2.0.1     | 7.1 MB    | #1         |  11%
mkl-2023.1.0         | 155.9 MB  | 3          |   4%










numexpr-2.10.1       | 201 KB    | #######1   |  72%


openssl-3.0.16       | 7.8 MB    | #####9     |  59%










numexpr-2.10.1       | 201 KB    | ########## | 100%

pandas-2.2.3         | 14.2 MB   | #2         |  13%


openssl-3.0.16       | 7.8 MB    | ######1    |  61%
mkl-2023.1.0         | 155.9 MB  | 3          |   4%











mkl_fft-1.3.11       | 169 KB    | 9          |   9%










numexpr-2.10.1       | 201 KB    | ########## | 100%



numpy-base-2.0.1     | 7.1 MB    | #1         |  12%











mkl_fft-1.3.11       | 169 KB    | ########## | 100%
mkl-2023.1.0         | 155.9 MB  | 3          |   4%


openssl-3.0.16       | 7.8 MB    | ######4    |  65%

pandas-2.2.3         | 14.2 MB   | #3         |  13%



numpy-base-2.0.1     | 7.1 MB    | #2         |  13%
mkl-2023.1.0         | 155.9 MB  | 4          |   4%


openssl-3.0.16       | 7.8 MB    | ######7    |  68%












certifi-2025.4.26    | 158 KB    | #          |  10%

pandas-2.2.3         | 14.2 MB   | #4         |  14%











mkl_fft-1.3.11       | 169 KB    | ########## | 100%











mkl_fft-1.3.11       | 169 KB    | ########## | 100%



numpy-base-2.0.1     | 7.1 MB    | #3         |  13%












certifi-2025.4.26    | 158 KB    | #########1 |  91%












certifi-2025.4.26    | 158 KB    | ########## | 100%

pandas-2.2.3         | 14.2 MB   | #5         |  15%


openssl-3.0.16       | 7.8 MB    | #######    |  70%
mkl-2023.1.0         | 155.9 MB  | 4          |   4%









pytz-2024.1          | 222 KB    | ########## | 100%









pytz-2024.1          | 222 KB    | ########## | 100%












certifi-2025.4.26    | 158 KB    | ########## | 100%



numpy-base-2.0.1     | 7.1 MB    | #4         |  14%













tbb-2021.8.0         | 149 KB    | #          |  11%

pandas-2.2.3         | 14.2 MB   | #5         |  16%













tbb-2021.8.0         | 149 KB    | ########5  |  86%













tbb-2021.8.0         | 149 KB    | ########## | 100%


openssl-3.0.16       | 7.8 MB    | #######2   |  73%



numpy-base-2.0.1     | 7.1 MB    | #4         |  15%
mkl-2023.1.0         | 155.9 MB  | 4          |   4%













tbb-2021.8.0         | 149 KB    | ########## | 100%


openssl-3.0.16       | 7.8 MB    | #######6   |  76%

pandas-2.2.3         | 14.2 MB   | #6         |  16%














bottleneck-1.4.2     | 145 KB    | #1         |  11%
mkl-2023.1.0         | 155.9 MB  | 4          |   4%



numpy-base-2.0.1     | 7.1 MB    | #5         |  15%


openssl-3.0.16       | 7.8 MB    | #######8   |  79%

pandas-2.2.3         | 14.2 MB   | #7         |  17%














bottleneck-1.4.2     | 145 KB    | #######7   |  77%














bottleneck-1.4.2     | 145 KB    | ########## | 100%
mkl-2023.1.0         | 155.9 MB  | 4          |   4%



numpy-base-2.0.1     | 7.1 MB    | #6         |  16%


openssl-3.0.16       | 7.8 MB    | ########1  |  82%















python-tzdata-2025.2 | 141 KB    | #1         |  11%














bottleneck-1.4.2     | 145 KB    | ########## | 100%

pandas-2.2.3         | 14.2 MB   | #8         |  19%















python-tzdata-2025.2 | 141 KB    | ########## | 100%
mkl-2023.1.0         | 155.9 MB  | 4          |   5%



numpy-base-2.0.1     | 7.1 MB    | #6         |  17%


openssl-3.0.16       | 7.8 MB    | ########3  |  84%

pandas-2.2.3         | 14.2 MB   | ##         |  21%
mkl-2023.1.0         | 155.9 MB  | 4          |   5%
















ca-certificates-2025 | 130 KB    | #2         |  12%


openssl-3.0.16       | 7.8 MB    | ########6  |  86%



numpy-base-2.0.1     | 7.1 MB    | #7         |  17%

pandas-2.2.3         | 14.2 MB   | ##1        |  22%
















ca-certificates-2025 | 130 KB    | ########5  |  86%
















ca-certificates-2025 | 130 KB    | ########## | 100%
mkl-2023.1.0         | 155.9 MB  | 4          |   5%


openssl-3.0.16       | 7.8 MB    | ########8  |  88%
















ca-certificates-2025 | 130 KB    | ########## | 100%



numpy-base-2.0.1     | 7.1 MB    | #7         |  18%

pandas-2.2.3         | 14.2 MB   | ##2        |  23%


openssl-3.0.16       | 7.8 MB    | #########  |  90%
mkl-2023.1.0         | 155.9 MB  | 4          |   5%

















mkl-service-2.4.0    | 64 KB     | ##4        |  25%



numpy-base-2.0.1     | 7.1 MB    | #8         |  19%

















mkl-service-2.4.0    | 64 KB     | ########## | 100%


openssl-3.0.16       | 7.8 MB    | #########2 |  92%

















mkl-service-2.4.0    | 64 KB     | ########## | 100%

















mkl-service-2.4.0    | 64 KB     | ########## | 100%















python-tzdata-2025.2 | 141 KB    | ########## | 100%















python-tzdata-2025.2 | 141 KB    | ########## | 100%
mkl-2023.1.0         | 155.9 MB  | 4          |   5%

pandas-2.2.3         | 14.2 MB   | ##3        |  24%



numpy-base-2.0.1     | 7.1 MB    | #8         |  19%


openssl-3.0.16       | 7.8 MB    | #########3 |  94%
mkl-2023.1.0         | 155.9 MB  | 4          |   5%



numpy-base-2.0.1     | 7.1 MB    | #9         |  19%


















six-1.17.0           | 38 KB     | ####2      |  43%


openssl-3.0.16       | 7.8 MB    | #########5 |  96%


















six-1.17.0           | 38 KB     | ########## | 100%

pandas-2.2.3         | 14.2 MB   | ##4        |  25%



numpy-base-2.0.1     | 7.1 MB    | #9         |  20%


openssl-3.0.16       | 7.8 MB    | #########7 |  97%
mkl-2023.1.0         | 155.9 MB  | 4          |   5%


















six-1.17.0           | 38 KB     | ########## | 100%


















six-1.17.0           | 38 KB     | ########## | 100%

pandas-2.2.3         | 14.2 MB   | ##5        |  26%



















 ... (more hidden) ...



















 ... (more hidden) ...



numpy-base-2.0.1     | 7.1 MB    | ##         |  20%
mkl-2023.1.0         | 155.9 MB  | 5          |   5%


openssl-3.0.16       | 7.8 MB    | ########## | 100%


openssl-3.0.16       | 7.8 MB    | ########## | 100%



















 ... (more hidden) ...

pandas-2.2.3         | 14.2 MB   | ##7        |  28%
mkl-2023.1.0         | 155.9 MB  | 5          |   5%



numpy-base-2.0.1     | 7.1 MB    | ##1        |  21%

pandas-2.2.3         | 14.2 MB   | ###        |  31%
mkl-2023.1.0         | 155.9 MB  | 5          |   5%



numpy-base-2.0.1     | 7.1 MB    | ##2        |  22%

pandas-2.2.3         | 14.2 MB   | ###3       |  34%
mkl-2023.1.0         | 155.9 MB  | 5          |   5%


openssl-3.0.16       | 7.8 MB    | ########## | 100%

pandas-2.2.3         | 14.2 MB   | ###7       |  37%



numpy-base-2.0.1     | 7.1 MB    | ##2        |  23%
mkl-2023.1.0         | 155.9 MB  | 5          |   5%

pandas-2.2.3         | 14.2 MB   | ####1      |  42%



numpy-base-2.0.1     | 7.1 MB    | ##3        |  23%
mkl-2023.1.0         | 155.9 MB  | 5          |   5%

pandas-2.2.3         | 14.2 MB   | ####6      |  47%



numpy-base-2.0.1     | 7.1 MB    | ##4        |  24%
mkl-2023.1.0         | 155.9 MB  | 5          |   6%

pandas-2.2.3         | 14.2 MB   | #####      |  50%



numpy-base-2.0.1     | 7.1 MB    | ##4        |  25%
mkl-2023.1.0         | 155.9 MB  | 5          |   6%

pandas-2.2.3         | 14.2 MB   | #####4     |  54%
mkl-2023.1.0         | 155.9 MB  | 5          |   6%



numpy-base-2.0.1     | 7.1 MB    | ##5        |  26%

pandas-2.2.3         | 14.2 MB   | #####8     |  58%

EnvironmentNotWritableError: The current user does not have write permissions to the target environment.
  environment location: C:\ProgramData\miniconda3

In [3]:
# SOLUTION B: select this cell and type Shift-Enter to execute the code below.

%pip install openpyxl pandas

# Now restart the kernel (Menu -> Kernel -> Restart Kernel)

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: openpyxl in c:\users\elena\appdata\roaming\python\python312\site-packages (3.1.5)
Requirement already satisfied: pandas in c:\users\elena\appdata\roaming\python\python312\site-packages (2.2.3)
Requirement already satisfied: et-xmlfile in c:\users\elena\appdata\roaming\python\python312\site-packages (from openpyxl) (2.0.0)
Requirement already satisfied: numpy>=1.26.0 in c:\users\elena\appdata\roaming\python\python312\site-packages (from pandas) (2.2.5)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\elena\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\elena\appdata\roaming\python\python312\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\elena\appdata\roaming\python\python312\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\elena\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

<hr>

# 2. Loading and Tidying Data

The remainder of this workshop will focus on data taken from the [GapMinder](https://www.gapminder.org/data/) project.

***

## 2.1 Excel workbook

Some of the data we will need later is in the Excel workbook `data_geographies_v1.xlsx`.

We can use the `read_excel` function to load data from the relevant sheet in the Excel workbook. This can read both xls and xlsx files and detects the format from the extension.

We only want to import a single sheet (named `list-of-countries-etc`) from this workbook.

In [4]:
!pip install openpyxl
countries = pd.read_excel("data_geographies_v1.xlsx", sheet_name="list-of-countries-etc")

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: openpyxl in c:\users\elena\appdata\roaming\python\python312\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\elena\appdata\roaming\python\python312\site-packages (from openpyxl) (2.0.0)

The variable `countries` now points to a `DataFrame` object containing our data.

In [5]:
countries.head()

,geo,name,four_regions,eight_regions,six_regions,members_oecd_g77,Latitude,Longitude,UN member since,World bank region,"World bank, 4 income groups 2017"
0,afg,Afghanistan,asia,asia_west,south_asia,g77,33.00000,66.00000,1946-11-19,South Asia,Low income
1,alb,Albania,europe,europe_east,europe_central_asia,others,41.00000,20.00000,1955-12-14,Europe & Central Asia,Upper middle income
2,dza,Algeria,africa,africa_north,middle_east_north_africa,g77,28.00000,3.00000,1962-10-08,Middle East & North Africa,Upper middle income
3,and,Andorra,europe,europe_west,europe_central_asia,others,42.50779,1.52109,1993-07-28,Europe & Central Asia,High income
4,ago,Angola,africa,africa_sub_saharan,sub_saharan_africa,g77,-12.50000,18.50000,1976-12-01,Sub-Saharan Africa,Lower middle income

##### *Exercise 2a*


Use manipulations of `countries` to complete the following tasks:


1. Find all the countries that are south of the equator.

In [6]:
countries[countries.Latitude < 0]

,geo,name,four_regions,eight_regions,six_regions,members_oecd_g77,Latitude,Longitude,UN member since,World bank region,"World bank, 4 income groups 2017"
4,ago,Angola,africa,africa_sub_saharan,sub_saharan_africa,g77,-12.50000,18.50000,1976-12-01,Sub-Saharan Africa,Lower middle income
6,arg,Argentina,americas,america_south,america,g77,-34.00000,-64.00000,1945-10-24,Latin America & Caribbean,Upper middle income
8,aus,Australia,asia,east_asia_pacific,east_asia_pacific,oecd,-25.00000,135.00000,1945-11-01,East Asia & Pacific,High income
20,bol,Bolivia,americas,america_south,america,g77,-17.00000,-65.00000,1945-11-14,Latin America & Caribbean,Lower middle income
22,bwa,Botswana,africa,africa_sub_saharan,sub_saharan_africa,g77,-22.00000,24.00000,1966-10-17,Sub-Saharan Africa,Upper middle income
23,bra,Brazil,americas,america_south,america,g77,-10.00000,-55.00000,1945-10-24,Latin America & Caribbean,Upper middle income
27,bdi,Burundi,africa,africa_sub_saharan,sub_saharan_africa,g77,-3.50000,30.00000,1962-09-18,Sub-Saharan Africa,Low income
34,chl,Chile,americas,america_south,america,g77,-33.45694,-70.64827,1945-10-24,Latin America & Caribbean,High income
37,com,Comoros,africa,africa_sub_saharan,sub_saharan_africa,g77,-12.23333,44.44553,1975-11-12,Sub-Saharan Africa,Low income
38,cod,"Congo, Dem. Rep.",africa,africa_sub_saharan,sub_saharan_africa,g77,-2.50000,23.50000,1960-09-20,Sub-Saharan Africa,Low income
39,cog,"Congo, Rep.",africa,africa_sub_saharan,sub_saharan_africa,g77,-1.00000,15.50000,1960-09-20,Sub-Saharan Africa,Lower middle income
50,ecu,Ecuador,americas,america_south,america,g77,-1.25000,-78.25000,1945-12-21,Latin America & Caribbean,Upper middle income
57,fji,Fiji,asia,east_asia_pacific,east_asia_pacific,g77,-18.00000,178.00000,1970-10-13,East Asia & Pacific,Upper middle income
60,gab,Gabon,africa,africa_sub_saharan,sub_saharan_africa,g77,-1.00000,11.75000,1960-09-20,Sub-Saharan Africa,Upper middle income
78,idn,Indonesia,asia,east_asia_pacific,east_asia_pacific,g77,-5.00000,120.00000,1950-09-28,East Asia & Pacific,Lower middle income
97,lso,Lesotho,africa,africa_sub_saharan,sub_saharan_africa,g77,-29.50000,28.25000,1966-10-17,Sub-Saharan Africa,Lower middle income
104,mdg,Madagascar,africa,africa_sub_saharan,sub_saharan_africa,g77,-20.00000,47.00000,1960-09-20,Sub-Saharan Africa,Low income
105,mwi,Malawi,africa,africa_sub_saharan,sub_saharan_africa,g77,-13.50000,34.00000,1964-12-01,Sub-Saharan Africa,Low income
112,mus,Mauritius,africa,africa_sub_saharan,sub_saharan_africa,g77,-20.30000,57.58333,1968-04-24,Sub-Saharan Africa,Upper middle income
120,moz,Mozambique,africa,africa_sub_saharan,sub_saharan_africa,g77,-18.25000,35.00000,1975-09-16,Sub-Saharan Africa,Low income
122,nam,Namibia,africa,africa_sub_saharan,sub_saharan_africa,g77,-22.00000,17.00000,1990-04-23,Sub-Saharan Africa,Upper middle income
123,nru,Nauru,asia,east_asia_pacific,east_asia_pacific,others,-0.51700,166.93300,1999-09-14,East Asia & Pacific,Upper middle income
126,nzl,New Zealand,asia,east_asia_pacific,east_asia_pacific,oecd,-42.00000,174.00000,1945-10-24,East Asia & Pacific,High income
135,png,Papua New Guinea,asia,east_asia_pacific,east_asia_pacific,g77,-6.00000,147.00000,1975-10-10,East Asia & Pacific,Lower middle income
136,pry,Paraguay,americas,america_south,america,g77,-23.33333,-58.00000,1945-10-24,Latin America & Caribbean,Upper middle income
137,per,Peru,americas,america_south,america,g77,-10.00000,-75.25000,1945-10-31,Latin America & Caribbean,Upper middle income
144,rwa,Rwanda,africa,africa_sub_saharan,sub_saharan_africa,g77,-2.00000,30.00000,1962-09-18,Sub-Saharan Africa,Low income
148,wsm,Samoa,asia,east_asia_pacific,east_asia_pacific,g77,-13.80000,-172.13333,1976-12-15,East Asia & Pacific,Upper middle income
154,syc,Seychelles,africa,africa_sub_saharan,sub_saharan_africa,g77,-4.58333,55.66667,1976-09-21,Sub-Saharan Africa,High income
159,slb,Solomon Islands,asia,east_asia_pacific,east_asia_pacific,g77,-8.00000,159.00000,1978-09-19,East Asia & Pacific,Lower middle income
161,zaf,South Africa,africa,africa_sub_saharan,sub_saharan_africa,g77,-29.00000,24.00000,1945-11-07,Sub-Saharan Africa,Upper middle income
166,swz,Swaziland,africa,africa_sub_saharan,sub_saharan_africa,g77,-26.50000,31.50000,1968-09-24,Sub-Saharan Africa,Lower middle income
172,tza,Tanzania,africa,africa_sub_saharan,sub_saharan_africa,g77,-6.00000,35.00000,1961-12-14,Sub-Saharan Africa,Low income
174,tls,Timor-Leste,asia,east_asia_pacific,east_asia_pacific,g77,-8.83333,125.75000,2002-09-27,East Asia & Pacific,Lower middle income
176,ton,Tonga,asia,east_asia_pacific,east_asia_pacific,g77,-20.00000,-175.00000,1999-09-14,East Asia & Pacific,Upper middle income
181,tuv,Tuvalu,asia,east_asia_pacific,east_asia_pacific,others,-8.51719,179.14478,2000-09-05,East Asia & Pacific,Upper middle income
187,ury,Uruguay,americas,america_south,america,g77,-33.00000,-56.00000,1945-12-18,Latin America & Caribbean,High income
189,vut,Vanuatu,asia,east_asia_pacific,east_asia_pacific,g77,-16.00000,167.00000,1981-09-15,East Asia & Pacific,Lower middle income
194,zmb,Zambia,africa,africa_sub_saharan,sub_saharan_africa,g77,-14.33333,28.50000,1964-12-01,Sub-Saharan Africa,Lower middle income
195,zwe,Zimbabwe,africa,africa_sub_saharan,sub_saharan_africa,g77,-19.00000,29.75000,1980-08-25,Sub-Saharan Africa,Low income

2. Find the first eight African countries to join the UN.

In [7]:
countries[countries.four_regions == "africa"].sort_values("UN member since").head(8)

,geo,name,four_regions,eight_regions,six_regions,members_oecd_g77,Latitude,Longitude,UN member since,World bank region,"World bank, 4 income groups 2017"
51,egy,Egypt,africa,africa_north,middle_east_north_africa,g77,27.0,30.0,1945-10-24,Middle East & North Africa,Lower middle income
98,lbr,Liberia,africa,africa_sub_saharan,sub_saharan_africa,g77,6.5,-9.5,1945-11-02,Sub-Saharan Africa,Low income
161,zaf,South Africa,africa,africa_sub_saharan,sub_saharan_africa,g77,-29.0,24.0,1945-11-07,Sub-Saharan Africa,Upper middle income
56,eth,Ethiopia,africa,africa_sub_saharan,sub_saharan_africa,g77,9.0,39.5,1945-11-13,Sub-Saharan Africa,Low income
99,lby,Libya,africa,africa_north,middle_east_north_africa,g77,28.0,17.0,1955-12-14,Middle East & North Africa,Upper middle income
119,mar,Morocco,africa,africa_north,middle_east_north_africa,g77,32.0,-6.0,1956-11-12,Middle East & North Africa,Lower middle income
164,sdn,Sudan,africa,africa_sub_saharan,sub_saharan_africa,g77,16.0,30.0,1956-11-12,Sub-Saharan Africa,Lower middle income
178,tun,Tunisia,africa,africa_north,middle_east_north_africa,g77,34.0,9.0,1956-11-12,Middle East & North Africa,Lower middle income

3. Make an array of OECD country names, sorted from East to West.

In [8]:
countries[countries.members_oecd_g77 == "oecd"].sort_values("Longitude").name.values

array(['Canada', 'Mexico', 'United States', 'Iceland', 'Portugal',
       'Ireland', 'Spain', 'United Kingdom', 'France', 'Belgium',
       'Netherlands', 'Luxembourg', 'Switzerland', 'Denmark', 'Norway',
       'Germany', 'Italy', 'Austria', 'Czech Republic', 'Sweden',
       'Slovak Republic', 'Hungary', 'Poland', 'Greece', 'Finland',
       'Turkey', 'South Korea', 'Australia', 'Japan', 'New Zealand'],
      dtype=object)

***

## 2.2 CSV file

Next, let's load some data from a CSV ([comma separated values](https://en.wikipedia.org/wiki/Comma-separated_values)) file using `read_csv`:

In [17]:
data = pd.read_csv("yearly_co2_emissions_1000_tonnes.csv")
data.head()

,country,1751,1752,1753,1754,1755,1756,1757,1758,1759,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014
0,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1330.0,1650.0,2270.0,4210.0,6770.0,8460.0,12200.0,10800.0,10000.0,9810.0
1,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4250.0,3900.0,3930.0,4370.0,4380.0,4600.0,5240.0,4910.0,5060.0,5720.0
2,Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,107000.0,101000.0,109000.0,110000.0,121000.0,119000.0,121000.0,130000.0,134000.0,145000.0
3,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,576.0,546.0,539.0,539.0,517.0,517.0,491.0,488.0,477.0,462.0
4,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,19200.0,22300.0,25200.0,25700.0,27800.0,29100.0,30300.0,33400.0,32600.0,34800.0

This is a straightforward numerical DataFrame which contains a lot of missing values (shown as `NaN`). 
The table shows annual CO<sub>2</sub> emissions from burning fossil fuels for each country.

We can investigate missing data using the [`isnull`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.isnull.html) method, e.g.:

In [18]:
data.isnull().head()

,country,1751,1752,1753,1754,1755,1756,1757,1758,1759,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014
0,False,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False
1,False,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False
2,False,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False
3,False,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False
4,False,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False

##### *Exercise 2b*

How many values are missing in `data`?

In [19]:
data.isnull().sum().sum()

np.int64(33772)

***

## 2.3 Tidying up!

Data scientists put a lot of emphasis on working with **tidy** data. What do we mean by that?

Tidy data follows the following three rules:

1. Each column is a variable
2. Each row is an observation (also known as a "case")
3. Each cell contains a single value.

When data is tidy, we can visualise and analyse it more easily.

However, most of the data tables that you encounter "in the wild" will not be tidy by this definition, so pandas provides functions to help reshape them into a tidy form.


##### *Exercise 2c*
Look at the CO<sub>2</sub> data. What are the variables in this dataset?

In [20]:
data.columns

Index(['country', '1751', '1752', '1753', '1754', '1755', '1756', '1757',
       '1758', '1759',
       ...
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014'],
      dtype='object', length=265)

### [`melt`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.melt.html)

We can use the `melt` method to reshape the data:

In [21]:
df = data.melt(id_vars=['country'], var_name='year', value_name='kt')
df

           country  year        kt
0      Afghanistan  1751       NaN
1          Albania  1751       NaN
2          Algeria  1751       NaN
3          Andorra  1751       NaN
4           Angola  1751       NaN
...            ...   ...       ...
50683    Venezuela  2014  185000.0
50684      Vietnam  2014  167000.0
50685        Yemen  2014   22700.0
50686       Zambia  2014    4500.0
50687     Zimbabwe  2014   12000.0

[50688 rows x 3 columns]

`melt` works to *lengthen* the data table by collecting values from multiple columns.

We specify the columns to hold fixed (`country`) and provide the names of two new variables, one to hold the old column labels (`year`) and one to hold
the values collected (`kt`). 

`df` currently has a lot of useless rows.
We can use the [`dropna`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.dropna.html) method to remove rows that contain missing data (`NaN`):

In [14]:
df = df.dropna()
df

              country  year        kt
182    United Kingdom  1751    9360.0
374    United Kingdom  1752    9360.0
566    United Kingdom  1753    9360.0
758    United Kingdom  1754    9370.0
950    United Kingdom  1755    9370.0
...               ...   ...       ...
50683       Venezuela  2014  185000.0
50684         Vietnam  2014  167000.0
50685           Yemen  2014   22700.0
50686          Zambia  2014    4500.0
50687        Zimbabwe  2014   12000.0

[16916 rows x 3 columns]

Let's store the tidied data in a new variable, `co2`:

In [15]:
#import numpy as np

co2 = df
#co2.loc['year'] = pd.to_numeric(co2['year'], errors='coerce')
co2

              country  year        kt
182    United Kingdom  1751    9360.0
374    United Kingdom  1752    9360.0
566    United Kingdom  1753    9360.0
758    United Kingdom  1754    9370.0
950    United Kingdom  1755    9370.0
...               ...   ...       ...
50683       Venezuela  2014  185000.0
50684         Vietnam  2014  167000.0
50685           Yemen  2014   22700.0
50686          Zambia  2014    4500.0
50687        Zimbabwe  2014   12000.0

[16916 rows x 3 columns]

##### *Exercise 2d*

How much CO<sub>2</sub> was emitted globally  before 1900?

In [16]:
co2.loc[co2['year'] < 1900, 'kt'].sum()

TypeError: '<' not supported between instances of 'str' and 'int'

### Changing data type

There seems to be an issue with the new `year` column. We can check its data type:

In [48]:
co2.dtypes

country     object
year       float64
kt         float64
dtype: object

The `year` column is shown as having an `object` data type, not an `int` as expected. 

This is because the years have been derived from column names (strings) in the previous version of the table. Let's fix this before going any further:

In [49]:
df = co2.copy()
df['year'] = df['year'].astype(int)
df.dtypes

country     object
year         int64
kt         float64
dtype: object

That looks much better!

In [50]:
co2 = df

##### *Exercise 2d (again)*

How much CO<sub>2</sub> was emitted globally  before 1900?

In [51]:
co2.loc[co2['year'] < 1900, 'kt'].sum()

np.float64(42898103.1421)

***

## 2.4 CSV without headers

Now that `co2` is in a tidy form, let's look at another example. `stats_1997.csv` is a CSV file containing GDP and population for various countries for the year 1997.

Actually this file is not in correct CSV format, because it is missing a header row. You can open it in Excel to verify this. However, we can still load it using `read_csv` as follows:

In [57]:
data = pd.read_csv("stats_1997.csv", header=None)
data

           0            1
0    afg-pop     18400000
1    ago-gdp  25700000000
2    ago-pop     15100000
3    alb-gdp   5470000000
4    alb-pop      3090000
..       ...          ...
370  zaf-pop     43700000
371  zmb-gdp   9120000000
372  zmb-pop      9670000
373  zwe-gdp  15600000000
374  zwe-pop     11700000

[375 rows x 2 columns]

You can see that the two columns in this file have been given the labels `0` and `1`.

This file looks a bit harder to tidy. 

##### *Exercise 2e*

What are the variables in this data set and what are the observations?

In [58]:
data.columns

Index([0, 1], dtype='int64')

***

## 2.5 More tidying up!

### [`str.split`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.str.split.html)

First, we need to split the data from column `0` into two columns: one for the three-letter country code (the variable that was called `geo` in the Excel workbook), and one for the type of measurement (GDP or population).
We can do this with a Series method called `str.split`:

In [59]:
df = data[0].str.split('-', expand=True)
df

       0    1
0    afg  pop
1    ago  gdp
2    ago  pop
3    alb  gdp
4    alb  pop
..   ...  ...
370  zaf  pop
371  zmb  gdp
372  zmb  pop
373  zwe  gdp
374  zwe  pop

[375 rows x 2 columns]

Now let's fix the column names and add on the column with the values:

In [60]:
df.columns = ['geo','statistic']
df['value'] = data[1]
df

     geo statistic        value
0    afg       pop     18400000
1    ago       gdp  25700000000
2    ago       pop     15100000
3    alb       gdp   5470000000
4    alb       pop      3090000
..   ...       ...          ...
370  zaf       pop     43700000
371  zmb       gdp   9120000000
372  zmb       pop      9670000
373  zwe       gdp  15600000000
374  zwe       pop     11700000

[375 rows x 3 columns]

### [`pivot`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.pivot.html)

Now we need to separate the GDP and population values into two different columns. This is done using the `pivot` method:

In [61]:
df2 = df.pivot(index='geo',columns='statistic',values='value')
df2

statistic           gdp         pop
geo
afg                 NaN  18400000.0
ago        2.570000e+10  15100000.0
alb        5.470000e+09   3090000.0
and        2.400000e+09     64300.0
are        1.730000e+11   2700000.0
..                  ...         ...
wsm        4.330000e+08    172000.0
yem        1.740000e+10  16400000.0
zaf        2.490000e+11  43700000.0
zmb        9.120000e+09   9670000.0
zwe        1.560000e+10  11700000.0

[195 rows x 2 columns]

Now each column is a variable, each row is an observation, and each cell is a single value, so we have successfully tidied the data.

Notice that there are fewer rows than before; The `pivot` action is to *shorten* the length of the table

Notice also that the resulting DataFrame uses the data from the **geo** column as *row labels*. 

Pandas calls this set of labels an [`index`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.index.html).

In [62]:
df2.index

Index(['afg', 'ago', 'alb', 'and', 'are', 'arg', 'arm', 'atg', 'aus', 'aut',
       ...
       'uzb', 'vct', 'ven', 'vnm', 'vut', 'wsm', 'yem', 'zaf', 'zmb', 'zwe'],
      dtype='object', name='geo', length=195)

This will be important later, when we need to combine data from more than one DataFrame.

Let's store the tidied DataFrame in a new variable:

In [63]:
stats97 = df2

##### *Exercise 2f*

In 1997, how many countries had a population less than 100,000?

In [65]:
stats97.loc[stats97['pop'] < 100000, 'pop'].count()

np.int64(15)

***