#### Data Processing with Python

In [1]:
import pandas as pd

<hr>
###### IN CASE OF PROBLEMS IMPORTING PACKAGES

In [ ]:
# SOLUTION A: select this cell and type Shift-Enter to execute the code below.

%conda install openpyxl pandas

# Now restart the kernel (Menu -> Kernel -> Restart Kernel)

In [ ]:
# SOLUTION B: select this cell and type Shift-Enter to execute the code below.

%pip install openpyxl pandas

# Now restart the kernel (Menu -> Kernel -> Restart Kernel)

<hr>

# 3. Assignment: Exam examiner

This assignment is designed to give you more practice with the pandas tools we have looked at so far.

* Allow *up to one hour* to work through the tasks. 
* It doesn't matter if you don't complete it.
* You are welcome to team up to tackle it in groups, or work individually.
* It won't be marked.

### Guidance

You may find the following [DataFrame methods](https://pandas.pydata.org/pandas-docs/stable/reference/frame.html) useful:

[`drop_duplicates`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop_duplicates.html), [`dropna`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.dropna.html), [`join`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.join.html), [`melt`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.melt.html), [`str.split`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.str.split.html)

`join` can combine DataFrames in many ways and will be introduced properly in the next session.

For now, you just need to know that it if two DataFrames `a` and `b` have the same index, you can construct a new DataFrame containing both sets of columns using `a.join(b)`:

In [5]:
a = pd.DataFrame( { 'x':[1,2,3,4,5]  } )
b = pd.DataFrame( { 'y':[10,20,30,40,50], 'z':[True,False,False,True,True] } )
a.join(b)

   x   y      z
0  1  10   True
1  2  20  False
2  3  30  False
3  4  40   True
4  5  50   True

### The tasks

The file `exam_results.xlsx` contains data about some (fictional) students taking modules in a (fictional) Physics department.

Load the data with pandas. What are the observations and variables in this table?
- Variables: Student ID, Surname, Forename, Degree Programme, Module, 2019, 2020
- Observations: Each row represents a student's exam results for a specific module in a specific year.

In [43]:
exam = pd.read_excel("exam_results.xlsx")

2. Tidy the data.

In [44]:
#Split Degree Programme into two columns: Degree and Programme and drop the original Degree Programme column.
exam[['Degree', 'Programme']] = exam['Degree Programme'].str.split(' ', n=1, expand=True)
exam.drop(columns=['Degree Programme'], inplace=True)

exam

,Student Code,Surname,Forename,Module,2019,2020,Degree,Programme
0,2103,Lemarr,Charlesetta,Quantum Mechanics,54.0,NaN,MSci,Physics
1,2103,Lemarr,Charlesetta,Relativity,NaN,86.0,MSci,Physics
2,2104,Narron,Elliot,Quantum Mechanics,NaN,72.0,MSci,Physics
3,2104,Narron,Elliot,Relativity,79.0,NaN,MSci,Physics
4,2105,Seevers,Josue,Relativity,NaN,57.0,BSc,French with Physics
5,2106,Zipp,Delbert,Quantum Mechanics,72.0,NaN,BSc,Physics with Maths
6,2106,Zipp,Delbert,Relativity,30.0,55.0,BSc,Physics with Maths
7,2107,Tunney,Veola,Quantum Mechanics,NaN,77.0,BSc,Physics with Astrophysics
8,2107,Tunney,Veola,Relativity,NaN,83.0,BSc,Physics with Astrophysics
9,2108,Beal,Catalina,Quantum Mechanics,NaN,88.0,MSci,Maths with Physics
10,2108,Beal,Catalina,Relativity,90.0,NaN,MSci,Maths with Physics
11,2109,Arjona,Jerome,Quantum Mechanics,NaN,26.0,BSc,Physics with Astrophysics

In [41]:
#Break the module column in two one for Quantum Mechanics and one for Relativity
exam.loc[exam['Module'] == 'Quantum Mechanics', 'Module']
exam

,Student Code,Surname,Forename,Module,2019,2020,Degree,Programme
0,2103,Lemarr,Charlesetta,QM,54.0,NaN,MSci,Physics
1,2103,Lemarr,Charlesetta,Relativity,NaN,86.0,MSci,Physics
2,2104,Narron,Elliot,QM,NaN,72.0,MSci,Physics
3,2104,Narron,Elliot,Relativity,79.0,NaN,MSci,Physics
4,2105,Seevers,Josue,Relativity,NaN,57.0,BSc,French with Physics
5,2106,Zipp,Delbert,QM,72.0,NaN,BSc,Physics with Maths
6,2106,Zipp,Delbert,Relativity,30.0,55.0,BSc,Physics with Maths
7,2107,Tunney,Veola,QM,NaN,77.0,BSc,Physics with Astrophysics
8,2107,Tunney,Veola,Relativity,NaN,83.0,BSc,Physics with Astrophysics
9,2108,Beal,Catalina,QM,NaN,88.0,MSci,Maths with Physics
10,2108,Beal,Catalina,Relativity,90.0,NaN,MSci,Maths with Physics
11,2109,Arjona,Jerome,QM,NaN,26.0,BSc,Physics with Astrophysics

3. Using your tidied data, answer the following questions:

* For MSci students, what is the mean grade for the Relativity exam?

KeyError: 'Exam'

* What proportion of the students are taking Physics as their major subject?

***